<!DOCTYPE html>
<html lang="ko">
<head>
  <%-include('_head.ejs') %>
</head>
<body>
  <header>
    <%-include('_header.ejs') %>
  </header>
  <main>
    <section>
      <a href="/notice/view">공지사항</a>
    </section>
  </main>
</body>
</html>