@charset "UTF-8";
body {
    font-family: "맑은 고딕";
}
table {
    /* width: 100%; */
    border-collapse: collapse;
    border-color: #404040;
    /* margin: 20px 10px; */
    border-width: 2px;
}
table.inner th,
table.inner td {
    padding: 0px;
}
th, td {
    padding: 3px 10px;
    /* width: 50px; */
    text-align: center;
}
th.left, td.left {
    text-align: left;
}
th.right, td.right {
    text-align: right;
}
th {
    background-color: lightblue;
}
input[type="button"],
input[type="reset"],
input[type="submit"] {
    font-weight: bold;
    font-size: 90%;
    padding: 2px 10px;
    cursor: pointer;
    min-width: 68px;
}
input[type="text"],
input[type="number"] {
    font-size: 100%;
}
a:link,
a:visited {
    color: #000fcb;
    text-decoration: none;
}
a:hover,
a:active,
a:focus {
    color: orangered;
}
span.page {
    margin: 0 10px;
}
span.red {
    color: red;
}