@charset "UTF-8";
body {
  font-family: "맑은 고딕";
  text-align: center;
}

table {
  border: 1px solid #404040;
  border-collapse: collapse;
}

table.main, table.sub {
  border-width: 2px;
}

table th, table td {
  border: 1px solid #404040;
}

table.inner {
  border: none;
}

table.inner th, table.inner td {
  border: none;
  padding: 0px;
}

table th {
  background-color: lightblue;
}

table.UPDATE th {
  background-color: #f6d0fd;
}

table.DELETE th, table.RECORD th {
  background-color: #ffb7b7;
}

table.edit th, table.update th, table.delete th {
  background-color: #ffb7b7;
}

table.headers {
  border: none;
}

table.headers tr, table.headers td {
  border: none;
}

th, td {
  padding: 5px 10px;
  text-align: center;
}

th.left, td.left {
  text-align: left;
}

th.center, td.center {
  text-align: center;
}

th.right, td.right {
  text-align: right;
}

select {
  width: 100%;
  font-size: 100%;
  padding: 3px 6px;
}

a:link, a:visited {
  color: #000fcb;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: orangered;
}

span.page {
  margin: 0 10px;
}

span.red {
  font-weight: bold;
  color: red;
}

span.large {
  font-size: 150%;
}

label {
  font-weight: bold;
}

label.light {
  font-weight: unset;
}

hr {
  margin-bottom: 20px;
}

form {
  margin: 0;
}

input[type=button], input[type=reset], input[type=submit] {
  font-weight: bold;
  font-size: 90%;
  padding: 2px 10px;
  cursor: pointer;
  min-width: 68px;
}

input[type=text], input[type=number] {
  font-size: 100%;
  padding: 3px 6px;
}

input[type=date] {
  font-size: 115%;
  width: -webkit-fill-available;
  padding: 0 10px;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

input.left {
  text-align: left;
}

input.center {
  text-align: center;
}

input.right {
  text-align: right;
}

input[type=button].selected {
  background-color: #5dd2ff;
  border: 1px solid #4f52ff;
  border-radius: 2px;
}

input[type=button].selected:hover, input[type=button].selected:active, input[type=button].selected:focus {
  background-color: #50c1ee;
}

div.tbContents {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

div.tbMenu {
  padding: 10px;
}

div.result {
  text-align: left;
  background-color: #efefef;
  padding: 20px;
  border: 1px solid #8b8b8b;
  border-radius: 10px;
}
