* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    background-color: #eee;
}

header, main, footer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}


// ---------------------------------------------------------------

#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    // display: none;
    .box {
        background-color: white;
        padding: 20px;
        border-radius: 15px;
        .title {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .body {
            margin-bottom: 10px;
        }
        .close {
            text-align: right;
        }
    }
}

header {
    height: 100px;
    background-color: white;
    border-bottom: 1px solid #ddd;

    .logo {
        width: 200px;
        font-size: 2em;
        // font-weight: bold;
        margin-right: 50px;
    }

    .menu {
        display: flex;
        &:hover {
            .submenu {
                display: block !important;
            }
        }
        >.item {
            font-size: 1.25em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            width: 160px;
            // border: 1px solid #ddd;
            position: relative;
            &:hover {
                label {
                    cursor: pointer;
                    background-color: #ddd;
                }
            }
            label {
                width: 100%;
                padding: 10px 0;
                text-align: center;
                font-weight: bold;
            }
            .submenu {
                width: 100%;
                padding: 15px 0;
                background-color: white;
                // border: 1px solid #ddd;
                line-height: 40px;
                position: absolute;
                top: 50px;
                z-index: 9;
                display: none;
                >li {
                    padding: 0 15px;
                    &:hover {
                        background-color: #ddd;
                    }
                    >a {
                        display: block;
                    }
                }
            }
        }

    }

}

main {
    min-height: 500px;
    padding: 0;
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    
    #imgslide {
        width: 100%;
        height: 300px;
        position: relative;
        .imgs {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: inherit;
            position: relative;
            overflow: hidden;
            >img {
                width: 1200px;
                height: auto;
                position: absolute;
            }
        }
        .title {
            color: white;
            font-size: 2.5em;
            font-weight: initial;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        }
    }

    #content {
        width: 100%;
        height: 200px;
        flex-direction: row;
        background-color: white;  
        padding-top: 15px;
        .box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            width: 33.33%;
            padding: 15px;
        }
        .lists {
            justify-content: start;
            .listhead {
                height: 40px;
                font-size: 1.25em;
                line-height: 40px;
                font-weight: bold;
                border-bottom: 1px solid #ddd;
                display: flex;
                div {
                    color: #aaa;
                    margin-right: 15px;
                }
                div.active {
                    color: #000;
                    display: block;
                }
            }
            .listbody {
                padding: 5px 0;
                div {
                    display: none;
                }
                div.active {
                    display: block;
                }
            }
        }
        .banner {
            a {
                display: block;
                text-align: center;
                img {
                    width: 100%;
                }
            }
        }
        .links {
            flex-direction: row;
            align-items: center;
            a {
                width: 100px;
                height: 100px;
                display: block;
                img {
                    width: 100%;
                }
            }
        }
    }

}

footer {
    flex-direction: row;
    width: 100%;
    height: 100px;
    background-color: white;
    border-top: 1px solid #ddd;
    .box {
        min-width: 200px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo {
        font-size: 1.5em;
        color: #aaa;
    }
    .copyright {
        flex-grow: 1;
    }
}