<!DOCTYPE html>
<html lang="ko">
<head>
  <%-include('_head.ejs') %>
</head>
<body>
  <main>
    <section id="nopage">
      <h1 class="title">😢 404 NOT FOUND 😢</h1>
      <p>아직 안만들었습니다...</p>
      <img src="cording_cat.gif">
    </section>
  </main>
</body>
</html>