<div class="wrapper">
  <h1 class="title"><a href="/notice/view">NOTICE</a></h1>
  <div class="buttons">
    <button class="btn inline" 
      onclick="location.href='/notice/write'"
    >공지사항 작성</button>
  </div>
</div>