@charset "UTF-8";
* { margin: 0; padding: 0; box-sizing: border-box; list-style: none; }

a { text-decoration: none; color: inherit; }

body { font-family: "맑은 고딕"; font-size: 16px; background-color: #dddddd; }

#container { display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%; max-width: 1000px; margin: 0 auto; }

#header { display: inherit; flex-direction: column; width: 100%; }

#header .head { display: inherit; align-items: center; justify-content: space-between; width: 100%; height: 300px; padding: 0 10px; background-color: black; background-image: url("images/slide/images(1).jpg"); background-size: cover; background-repeat: no-repeat; background-position: center; box-shadow: inset 0px 0px 60px rgba(0, 0, 0, 0.5); position: relative; }

#header .head .logo { height: 120px; align-self: start; filter: drop-shadow(0 0 4px black) saturate(1.5); }

#header .head .logo > img { height: 100%; filter: drop-shadow(0 0 2px black); }

#header .head .usermenu { align-self: baseline; margin-top: 5px; font-size: .9em; color: white; }

#header .head .usermenu > li { float: left; }

#header .head .usermenu > li:not(:last-of-type) { margin-right: 10px; }

#header .head .info { text-align: right; font-family: Georgia; color: white; font-size: 1.8em; text-shadow: 1px 1px 3px black; position: absolute; bottom: 20px; right: 15px; }

#header .mainmenu { display: inherit; align-items: center; justify-content: center; width: 100%; height: 45px; background-color: black; border-top: 1px solid #4298cc; border-bottom: 1px solid #4298cc; color: white; }

#header .mainmenu > li { width: 160px; height: 100%; text-align: center; line-height: 45px; transition: all 0.4s; }

#header .mainmenu > li:hover { cursor: pointer; background-color: #259bff; text-shadow: 0 0 4px white; }

#content { display: inherit; flex-direction: column; width: 100%; min-height: 300px; background-color: white; }

#content .row { display: inherit; flex-direction: row; justify-content: center; width: 100%; padding: 15px; }

#content .row .box { display: inherit; flex-direction: column; width: 100%; align-items: center; padding: 15px; }

#content .row .box .title { width: 100%; padding: 5px 10px; font-weight: bold; font-size: 1.2em; text-align: center; color: #4298cc; border-bottom: 2px solid #4298cc; transition: all 0.4s; }

#content .row .box .title::before { content: ""; background-image: url("images/icons/flight.png"); background-size: cover; display: inline-block; width: 20px; height: 18px; margin-right: 5px; }

#content .row .box .title:hover { cursor: pointer; background-color: #d0eafa; }

#content .row .box .hr { width: 100%; border-bottom: 2px solid #4298cc; }

#content .row table { text-align: center; border-collapse: collapse; margin-bottom: 5px; }

#content .row table th, #content .row table td { padding: 5px 10px; }

#content .row table tr:not(:last-of-type) { border-bottom: 1px solid #4298cc; }

#content .row table tr:not(:first-of-type):hover { cursor: pointer; background-color: #d0eafa; }

#content .row .link { width: 100%; height: 100%; display: inherit; align-items: center; justify-content: center; }

#content .row .link > li { display: inherit; align-items: flex-end; justify-content: center; width: 100px; height: 100px; border: 1px solid #cccccc; border-radius: 5px; margin: 5px; background-size: 100%; background-repeat: no-repeat; }

#content .row .link > li.new { background-image: url("images/icons/new.png"); }

#content .row .link > li.manual { background-image: url("images/icons/manual.png"); }

#content .row .link > li.music { background-image: url("images/icons/music.png"); }

#content .row .link > li > input { font-size: .8em; padding: 2px 5px; margin-bottom: 5px; background-color: #444444; border: none; border-radius: 5px; color: white; }

#content .row .link > li:hover, #content .row .link > li *:hover { cursor: pointer; }

#content .row .link > li:hover input, #content .row .link > li *:hover input { background-color: #3a75ff; }

#footer { display: inherit; flex-direction: row; justify-content: space-around; width: 100%; min-height: 80px; background-color: black; border-top: 1px solid #4298cc; color: white; font-size: .9em; padding: 10px; }

#footer .box { display: inherit; flex-direction: row; align-items: center; padding: 5px 10px; }

#footer .box > span:not(:last-of-type) { margin-right: 20px; }
